.widget {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  min-height: 150px;
  background: #FFFFFF;
  border-radius: 2px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.heading {
  padding: 20px 10px 20px 15px;
  position: relative;
}

.separator {
  border-bottom: 3px solid #5CEAAE;
  width: 70px;
  align-self: left;
  margin-left: 15px;
}

.task-input {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 13px;
  color: #BDC9D4;
  width: 80%;
  height: auto;
  border: 1px solid #BDC9D4;
  border-radius: 3px;
  padding: 10px 0 10px 15px;
}


