<div class="content">
  <div class="head">
    <div class="left">
      <div class="square"></div>
      <div class="square-label">
        <p class="label">
          landing pages
        </p>
        <p class="underlabel">
          Website Redesign
        </p>
      </div>
    </div>
    <div class="switch-menu">
      <div class="switch-layout">
        <div class="switch-left">
          <div class="vertical"></div>
          <div class="vertical"></div>
          <div class="vertical"></div>
        </div>
        <div class="switch-right">
          <div class="horizontal"></div>
          <div class="horizontal"></div>
          <div class="horizontal"></div>
        </div>
      </div>
      <div class="right-menu">
        <p class="tasks menu-item">Tasks</p>
        <p class="conversion menu-item">Conversion</p>
        <p class="report menu-item">Report</p>
        <p class="setting menu-item">Setting</p>
      </div>
    </div>
  </div>
  <div class="widget-array">
    <app-widget></app-widget>
    <app-widget></app-widget>
    <app-widget></app-widget>
  </div>
</div>
